<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTA Location Finder</title>
</head>

<body>
    <h1>Hello!</h1>
    <h2>Find the Nearest MBTA station to your location:</h2>
    <form action="http://127.0.0.1:5000/" method="POST"></form>
    <p>Please enter your location below:</p>
    <p>
        Location: <input type="text" name="location" placeholder="Location here">
    </p>

    <p><input type="submit" action="http://127.0.0.1:5000/"></p>


</body>

</html>